/*
==============================================
TABLE OF CONTENT
==============================================

1. Header Menu
2. Header Content
3. Content Top
4. Content Bottom
5. Footer
==============================================
[END] TABLE OF CONTENT
==============================================
*/

body {
    background-image: url(../images/TV-STATIC.png);
    background-size: 100% 100%;
    font-family: 'Minimal-Mono-Regular';
}
@font-face {
    font-family: 'Minimal-Mono-Black';
    src: url("../Fonts/Minimal-Mono-Black.otf");
}
@font-face {
    font-family: 'Minimal-Mono-Bold';
    src: url("../Fonts/Minimal-Mono-Bold.otf");
}
@font-face {
    font-family: 'Minimal-Mono-Regular';
    src: url("../Fonts/Minimal-Mono-Regular.otf");
}

/*-----------------------------------------
	1. Header Menu
-------------------------------------------*/
.header-menu {
    margin-bottom: 20px;
    padding-top: 20px;
}
.header-menu .menu {
    margin-top: 30px;
}
.header-menu .logo {
    text-align: center;
    margin-top: -26px;
}
.navbar {
    position: relative;
    min-height: inherit;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
.navbar-header{
    float: none;
    text-align: center;
}
.navbar-brand {
    float: none;
    height: inherit;
    padding: 10px 0;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    z-index: 3;
    position: relative;
}
.navbar-brand>img {
    display: inline-block;
}
.navbar-toggle {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 9px 5px;
    z-index: 3;
}
.navbar-toggle span{
    background-color: #1FFF5A;
}
.header-menu .navigation {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: auto !important;
    max-height: none !important;
    margin: 0 !important;
    display: block !important;
    opacity: 0;
    padding: 100px 0 15px 0;
    text-align: center;
    -webkit-transition: all ease 0.25s !important;
    transition: all ease 0.25s !important;
    z-index: 2;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    background: #000000;
}
.navigation.collapsing, .navigation.collapse.in {
    top: -20px;
    opacity: 1;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav{
    width: 100%;
}
.nav>li>a{
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #1FFF5A;
    border-color: #ffffff;
}

/*-----------------------------------------
	2. Header Content
-------------------------------------------*/
.header-content .home {
    text-align: center;
    position: relative;
}
.header-content .home h1 {
    font-family: 'Minimal-Mono-Black';
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 26px;
}
.header-content .home img {
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-content .home:after {
    background-image: url("../images/Layer-10-copy.png");
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 266px;
    height: 230px;
    top: -87px;
    right: 0;
    z-index: 3;
}

/**
*  Menu Button
*/
.lines-button {
    padding: 2px 1rem 10px 1rem;
    transition: .25s;
    cursor: pointer;
    user-select: none;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 52px;
    height: 36px;
}
.lines-button:hover {
    opacity: 1;
}
.lines-button:active {
    transition: 0s;
}
.lines {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #1FFF5A;
    border-radius: 0;
    transition: 0.25s;
    position: relative;
}
.lines:before, .lines:after {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #1FFF5A;
    border-radius: 0;
    transition: 0.25s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.28571rem center;
    transform-origin: 0.28571rem center;
}
.lines:before {
    top: 10px;
}

.lines:after {
    top: -10px;
}

.lines-button:hover .lines:before {
    top: 11px;
}

.lines-button:hover .lines:after {
    top: -11px;
}

.lines-button.close {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    padding: 2px 1rem 7px 1rem;
    transition: .25s;
    cursor: pointer;
    user-select: none;
    border-radius: 0.57143rem;
    filter: alpha(opacity=100);
    opacity: 1;
}

.lines-button.arrow.close .lines:before, .lines-button.arrow.close .lines:after {
    top: 0;
    width: 2.22222rem;
}
.lines-button.arrow.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
}
.lines-button.arrow.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
    transform: rotate3d(0, 0, 1, -40deg);
}

.lines-button.arrow-up.close {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

.lines-button.minus.close .lines:before, .lines-button.minus.close .lines:after {
    -webkit-transform: none;
    transform: none;
    top: 0;
    width: 4rem;
    background: #1FFF5A;
}
.lines-button.x.close .lines {
    background: transparent;
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 4rem;
    background: #1FFF5A;
}
.lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

@media (max-width: 991px) {
    .header-content .home:after {
        background-image: url("../images/Layer-10-copy1.png");
        display: none;
    }
}
@media (max-width: 767px) {
    .navbar-nav{
        margin: 0;
    }
    .navbar-brand>img:first-child{
        display: none;
    }
}



/*-----------------------------------------
	3. Content Top
-------------------------------------------*/
.content .container {
    padding: 0px 190px;
}
.content .shows h3 {
    text-align: center;
    color: #fff;
    font-family: Minimal-Mono-Bold sans-serif;
    margin-bottom: 30px;
}
.content .name {
    margin-bottom: 30px;
}
.content .name img {
    width: 100%;
}
.content .name h3 {
    color: #fff;
    font-family: Minimal-Mono-Black sans-serif;
}
.content .name h4 {
    color: #fff;
    font-family: Minimal-Mono-Bold sans-serif;
}
.content .name p {
    color: #ABAAAB;
    font-family: Minimal-Mono-Regular sans-serif;
    font-size: 13px;
}
.content .name button {
    color: #000;
    font-family: Minimal-Mono-Black sans-serif;
    border-radius: 0;
    padding: 5px 20px;
}
.content .name .artis {
    position: relative;
}
.content .name .artis:before {
    background-image: url("../images/green.png");
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 138px;
    height: 109px;
    top: -256px;
    left: -25px;
}
.content .name .green {
    position: relative;
}
.content .name .green:before {
    background-image: url("../images/green1.png");
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 280px;
    height: 132px;
    left: 206px;
    top: 27px;
}
.content .name .round {
    position: relative;
}
.content .name .round:before {
    background-image: url("../images/green.png");
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 138px;
    height: 109px;
    top: -256px;
    left: -120px;
}
.content .name .plus {
    position: relative;
}
.content .name .plus:before {
    background-image: url("../images/plus.png");
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 138px;
    height: 109px;
    top: -256px;
    left: -73px;
}
.content .name .minus {
    position: relative;
}
.content .name .minus:before {
    background-image: url("../images/green2.png");
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 239px;
    height: 195px;
    top: 120px;
    right: 174px;
}
.content .name .plus1 {
    position: relative;
}
.content .name .plus1:before {
    background-image: url("../images/plus.png");
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 138px;
    height: 109px;
    top: -270px;
    left: -73px;
}
.content .name .round1 {
    position: relative;
}
.content .name .round1:before {
    background-image: url("../images/cup.png");
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 138px;
    height: 109px;
    top: 100px;
    left: 160px;
}
@media (max-width: 1299px){
    .content .name .green:before{
        width: 230px;
    }
}
@media (max-width: 1199px){
    .content .name .artis:before{
        left: 0;
    }
    .content .name .green:before {
        width: 210px;
        left: 150px;
    }
}
@media (max-width: 991px) {
    .content .name .round:before {
        display: none;
    }
    .content .name .round1:before {
        display: none;
    }
    .content .name .green:before {
        display: none;
    }
    .content .name .artis:before {
        display: none;
    }
    .content .name .plus:before {
        top: -415px;
    }
    .content .container {
        padding: 0 15px;
    }
}


/*-----------------------------------------
	4. Content Bottom
-------------------------------------------*/
.content-bottom .input {
    text-align: center;
    margin-bottom: 100px;
}
.content-bottom .input h2 {
    color: #fff;
    font-family: Minimal-Mono-Bold sans-serif;
}
.content-bottom .input p {
    color: #fff;
    font-family: Minimal-Mono-Bold sans-serif;
    margin-bottom: 20px;
}
.content-bottom .input form {
    margin: 0 auto;
    width: 58%;
}
.content-bottom .input .form-control {
    background-color: transparent;
    border-radius: 0;
    border-right: 0;
}
.content-bottom .input .input-group-btn {
    background-color: #fff;
    border-color: #fff;
    left: 5px;
}
.content-bottom .input .btn {
    padding: 6px 41px;
    font-family: Minimal-Mono-Black sans-serif;
}


/*-----------------------------------------
    5. Footer
-------------------------------------------*/
.footer .link {
    margin-bottom: 50px;
    display: inline-block;
}
.footer .link h3 {
    color: #fff;
    font-family: Minimal-Mono-Bold sans-serif;
}
.footer .link a {
    color: #fff;
    text-decoration: none;
    font-family: Minimal-Mono-Bold sans-serif;
    display: block;
}
.footer .cent {
    text-align: center;
    display: inline-block;
    margin-left: 200px;
}
.footer .cent img {
    margin-top: -160px;
}
.footer .icons {
    display: inline-block;
    float: right;
}
.footer .icon {
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 7px;
    width: 110px;
    height: 100px;
    margin-left: 8px;
    margin-top: 20px;
    display: inline-block;
}
.footer .icon i {
    font-size: 52px;
    margin-bottom: 10px;
}
.footer .icon p {
    font-family: Minimal-Mono-Bold sans-serif;
}
.color {
    padding: 5px;
    background-color: #1FFF5A;
}
.footer .icons .icon:first-child{
    margin-left: 0;
}
@media (max-width: 991px){
    .footer .icons {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (max-width: 767px){
    .footer .link {
        display: block;
        padding: 0 15px;
        text-align: center;
    }
    .footer .cent {
        display: block;
        margin-left: 0;
    }
    .footer .cent img {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .content .name {
        margin: 0 auto 30px;
        max-width: 240px;
    }
}